html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*  */
html, body {
  height: 100%;
  width: 100%; }

header {
  padding: 2%;
  float: left;
  width: 96%; }

textarea {
  width: 94%;
  height: 88%;
  float: left;
  padding: 3% 3%; }

.wrapper {
  width: 100%;
  height: 100%;
  float: left; }

#notepad-title {
  float: left;
  width: 94%;
  padding: 1.1% 2.9%;
  border: 0;
  font-size: 26px;
  color: #888; }

#notepad {
  border: 0; }

.notepad-container {
  float: left;
  height: 100%;
  padding: 0;
  width: 69.7%;
  border-left: 1px solid #ccc; }

.notepad-header {
  width: 100%;
  float: left; }
  .notepad-header a {
    float: right;
    display: inline-block;
    text-decoration: none; }
  .notepad-header a:visited {
    text-decoration: none; }

.task-delete {
  float: right; }

.list-tasks li.focused-task {
  border: 3px solid #ccc;
  padding: 7px; }

.list-tasks {
  width: 30%;
  float: left; }
  .list-tasks ul {
    width: 100%;
    float: left; }
    .list-tasks ul li {
      padding: 10px;
      border-bottom: 1px solid #ccc; }
    .list-tasks ul li:hover {
      background-color: #ccc;
      color: white; }
      .list-tasks ul li:hover .task-excerpt, .list-tasks ul li:hover .task-title {
        color: white; }
      .list-tasks ul li:hover .task-action {
        display: block; }
  .list-tasks a {
    text-decoration: none;
    color: #888; }

.list-tasks-menu {
  width: 94%;
  float: left;
  padding: 3% 3%;
  border-bottom: 1px solid black; }

.task-counter {
  float: right;
  color: #888; }

.task-excerpt {
  height: 50px;
  margin-top: 5px;
  color: #ccc;
  overflow: hidden; }

.task-title {
  font-size: 22px; }

.task-listed {
  cursor: pointer; }

.task-action {
  display: none; }

.list-task-title {
  width: 100%;
  clear: both;
  font-size: 26px;
  margin-bottom: 20px;
  float: left; }
